.Anchor
  applySkin(fontColor, visitedFontColor = fontColor)
    &
      color: fontColor
    &:visited
      color: visitedFontColor

  &
    display: inline-block

  &.maximized
    width: 100%
    height: 100%

  &.noUnderline
    text-decoration: none

  &.skin
    &_default
      applySkin(Const.Color.Blue, Const.Color.Brown)
    &_inherit
      applySkin(inherit)
