quote(name)
  '"' + name + '"'

Const = {
  MaxWidth: 1024px,
}

Const.Height = {
  Large: 46px,
  Normal: 30px,
  Small: 24px,
}

Const.Default = {
  FontFamily: unquote(join(',',
    quote('Noto Sans Japanese'),
    quote('游ゴシック'),
    quote('YuGothic'),
    quote('ヒラギノ角ゴ ProN W3'),
    quote('Hiragino Kaku Gothic ProN'),
    quote('源ノ角ゴシック'),
    quote('源ノ角ゴシック Normal'),
    quote('Source Han Sans J Normal'),
    quote('Source Han Sans J'),
    quote('SourceHanSans-Normal'),
    quote('Noto Sans Japanese'),
    quote('Noto Sans Japanese Regular'),
    quote('NotoSansJp-Regular'),
    quote('メイリオ'),
    quote('Meiryo'),
    quote('Verdana'),
    quote('sans-serif')
  )),
  FontSize: 20px,
}

Const.Color = {
  Black: #4a4a4a,
  Red: #f44336,
  Orange: #FF9800,
  Blue: #03a9f4,
  Green: #2abb9b,
  Yellow: #FFC107,
  LightGray: #ecf0f1,
  Gray: #7f8c8d,
  Cyan: #00BCD4,
  Brown: #795548,
  Background: #f9f9f9,
}
