*
  box-sizing: border-box

html,
body
  width: 100%
  height: 100%

html
  font-family: "Muli", Const.Default.FontFamily
  font-size: Const.Default.FontSize
  font-weight: 300

body
  background-color: Const.Color.Background
  color: Const.Color.Black
  line-height: 2em

a
  color: Const.Color.Blue
  &:visited
    color: Const.Color.Brown
