placeholder-color(value)
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder
    color: value

appearance(value)
  -webkit-appearance: value
  -moz-appearance: value
  appearance: value

user-select(value)
  -webkit-user-select: value
  -moz-user-select: value
  -ms-user-select: value
  -o-user-select: value
  user-select: value

container(noPadding = false)
  position: relative
  width: 100%
  max-width: Const.MaxWidth
  margin: 0 auto
  padding: 0 15px
  if noPadding
    padding: 0
  +tablet()
    min-width: 100%
    padding: 0 2.5%
  +mobile()
    min-width: 100%
