.DailyReportForm
  FormWidth = 500px

  &
    container()

  &__heading
    margin-top: 20px
    font-size: 1.3rem
    font-weight: bold
    text-align: center

  &__row
    display: flex
    & + &
      margin-top: 20px
    &.submit
      height: Const.Height.Large

  &__column
    &:not(.name)
      flex: 1
      margin: 0 1em
    &.name
      width: 500px
      margin: 0 auto

  &__name-column
    width: 500px
    margin: 0 auto

  &__textarea
    height: 20em
