.DailyReportForm

  &__row
    display: flex
    +mobile()
      display: block
    & + &
      margin-top: 20px
    &.submit
      height: Const.Height.Large

  &__column
    &:not(.name)
      flex: 1
      & + &
        margin-left: 1.5em
        +mobile()
          margin: 0
    &.name
      flex: 1
      margin: 0 auto

  &__label
    font-weight: bold
    &.required
      &::before
        content: "(*) "
